.hero {
  @include bg-cover;
  @include image-set("../img/hero-bg");

  position: relative;
  z-index: 2;
  padding-top: 205px;
  padding-bottom: 30px;
  height: 100vh;
  color: #fff;
  background-color: #74d1d4;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background: linear-gradient(0deg, rgba(#000, 0.6) 0%, rgba(#000, 0.5) 50%, rgba(#000, 0.2) 100%);
  }

  &__suptitle {
    @include before-circle;

    position: relative;
    z-index: 2;
    margin-bottom: 6px;
    padding-left: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    &::before {
      left: 0;
      transform: translateY(-50%);
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 25px;
    max-width: 532px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;

    @include small-tablet {
      font-size: 40px;
      line-height: 50px;
    }

    @include mobile {
      max-width: 300px;
      font-size: 26px;
      line-height: 39px;
    }
  }

  &__social {
    @include flex-v-center;

    position: absolute;
    bottom: 30px;
    width: 338px;

    @include small-tablet {
      display: none;
    }
  }

  &__social-text {
    @include flex-v-center;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    &::after {
      content: "";
      display: block;
      margin: 0 15px;
      width: 70px;
      height: 2px;
      background-color: #fff;

      @include mobile {
        margin: 0 10px;
        width: 30px;
      }
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &__list {
    svg {
      &:hover {
        fill: #cfcfcf;
        transition: fill 0.3s ease-in-out;
      }
    }
  }

  &__link {
    @include mr(32px);

    font-weight: 700;
    font-size: 14px;
    line-height: 21px;

    &--bg {
      padding: 12px 26px;
      transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

      &:hover {
        box-shadow: 0 4px 4px rgba(#000, 0.15);
        background-color: $primary-color;
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      }
    }
  }

  @include mobile {
    padding-top: 175px;
    height: 500px;
  }
}
