.title {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  color: #000;

  &--fsz14 {
    font-size: 14px;
    line-height: 21px;
  }

  &--fsz16 {
    font-size: 16px;
    line-height: 24px;
  }

  &--before-circle {
    @include before-circle;

    position: relative;
    z-index: 2;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}

.subtitle {
  @include divider;

  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
  text-align: center;

  @include mobile {
    font-size: 24px;
    line-height: 36px;
  }
}
