/* stylelint-disable */

@mixin burger {
  $burger-width: 36px;
  $burger-height: 21px;
  $burger-line-height: 3px;

  position: relative;
  border: none;
  padding: 0;
  width: $burger-width;
  height: $burger-height;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 30px;
    height: $burger-line-height;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - $burger-line-height);
  }

  &:hover {
    color: #dadada;
    transition: color 0.3s ease-in-out;
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: $burger-line-height;
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }
}
