<header class="header">
  <div class="header__overlay" data-menu-overlay>
    <nav class="nav" title="Главное меню" data-menu>
      <button class="btn-reset nav__close" title="Закрыть меню" aria-label="Закрыть меню" data-close-menu>
        <svg>
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </button>
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item data-scroll>Про меня</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item data-scroll>Мой опыт</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item data-scroll>Мои навыки</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item data-scroll>Мои работы</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item data-scroll>Прайс-лист</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item data-scroll>Контакты</a>
        </li>
      </ul>

      <ul class="social list-reset nav__social" title="Мои соцсети">
        <li class="social__item">
          <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Моя страничка на Github">
            <svg class="">
              <use xlink:href="img/sprite.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link social__link--vk" aria-label="Моя страничка в Instagram">
            <svg class="">
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link social__link--tw" aria-label="Моя страничка на Facebook">
            <svg class="">
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
    <span class="burger__line"></span>
  </button>
</header>
