<section class="section price">
  <div class="container">
    <h2 class="title title--fsz16 title--before-circle price__title">Прайс-лист</h2>

    <div class="price__grid">
      <ul class="price__list list-reset">
        <li class="price__item">
          <div class="price__name">Landing-page</div>
          <div class="price__value">от 8000 руб.</div>
          <div class="price__descr">Одностраничный сайт для презентации услуг/товаров/...</div>
        </li>
        <li class="price__item">
          <div class="price__name">Корпоративный сайт</div>
          <div class="price__value">от 20000 руб.</div>
          <div class="price__descr">Сайт для вашего бизнеса или компании</div>
        </li>
        <li class="price__item">
          <div class="price__name">Интернет-магазин</div>
          <div class="price__value">от 30000 руб.</div>
          <div class="price__descr">Инструмент для ваших продаж в сети</div>
        </li>
      </ul>
      <ul class="price__list list-reset">
        <li class="price__item">
          <div class="price__name">Web-приложение</div>
          <div class="price__value">от 28000 руб.</div>
          <div class="price__descr">Приложение внутри браузера для лучшего комфорта</div>
        </li>
        <li class="price__item">
          <div class="price__name">Android/IOS Приложение</div>
          <div class="price__value">от 25000 руб.</div>
          <div class="price__descr">Приложение для смартфона любой ОС</div>
        </li>
        <li class="price__item">
          <div class="price__name">Дизайн</div>
          <div class="price__value">Индивидуально</div>
          <div class="price__descr">Создам дизайн для вашего сайта/приложения...</div>
        </li>
      </ul>
    </div>
  </div>
</section>
