<section class="section resume" id="resume">
  <div class="container resume__container">
    <h2 class="title title--fsz16 title--before-circle">Опыт</h2>
    <div class="subtitle resume__subtitle">Чем я буду полезна</div>
    <div class="resume__content">
      <div class="resume__items">
        <h3 class="title resume__title">Образование</h3>
        <ul class="resume__list list-reset">
          <li class="resume__item">
            <div class="resume__head resume__head--university">
              <h3 class="resume__caption title title--fsz14">МГТУ им. Н. Э. Баумана</h3>
              <div class="resume__info">Диплом магистра | Москва (2014-2020)</div>
            </div>
            <p class="resume__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo.</p>
          </li>
          <li class="resume__item">
            <div class="resume__head resume__head--courses">
              <h3 class="resume__caption title title--fsz14">Udemy</h3>
              <div class="resume__info">Курсы по Web-разработке</div>
            </div>
            <p class="resume__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo.</p>
          </li>
        </ul>
      </div>
      <div class="resume__items">
        <h3 class="title resume__title">Опыт работы</h3>
        <ul class="resume__list list-reset">
          <li class="resume__item">
            <div class="resume__head resume__head--developer">
              <h3 class="resume__caption title title--fsz14">Front-End Developer</h3>
              <div class="resume__info">EPAM | Москва (2018-2019)</div>
            </div>
            <p class="resume__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo.</p>
          </li>
          <li class="resume__item">
            <div class="resume__head resume__head--designer">
              <h3 class="resume__caption title title--fsz14">UI/UX Designer</h3>
              <div class="resume__info">Squad Team | Москва (2018)</div>
            </div>
            <p class="resume__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
