<section class="section skills" id="skills">
  <div class="container">
    <h2 class="title title--fsz16 title--before-circle skills__title">Навыки</h2>
    <div class="subtitle skills__subtitle">Что я использую в работе</div>
    <ul class="skills__grid list-reset">
      <li class="skills__item">
        <div class="skills__img">
          <img loading="lazy" src="img/skills/html5.svg" class="image skills__icon" width="45" height="65" alt="иконка HTML5">
        </div>
        <div class="skills__item-body">
          <h3 class="title title--fsz14 skills__item-title">HTML5</h3>
          <p class="skills__descr">Именно он создает каркас вашего сайта или приложения, а пятая версия позволит мне создавать более SEO-оптимизированную структуру вашего продукта</p>
        </div>
      </li>
      <li class="skills__item">
        <div class="skills__img">
          <img loading="lazy" src="img/skills/css3.svg" class="image skills__icon" width="46" height="65" alt="иконка CSS3">
        </div>
        <div class="skills__item-body">
          <h3 class="title title--fsz14 skills__item-title">CSS3</h3>
          <p class="skills__descr">Этот язык стилей позволяет мне создавать абсолютно любой внешний вид вашего сайта или приложения. Все ограничивается только вашей фантазией!</p>
        </div>
      </li>
      <li class="skills__item">
        <div class="skills__img">
          <img loading="lazy" src="img/skills/js.svg" class="image skills__icon" width="65" height="65" alt="иконка JavaScript">
        </div>
        <div class="skills__item-body">
          <h3 class="title title--fsz14 skills__item-title">Java Script</h3>
          <p class="skills__descr">Этот язык программирования позволяет оживить все что угодно: слайдеры, окна, подсказки, вкладки, получение данных от сервера и многое другое</p>
        </div>
      </li>
      <li class="skills__item">
        <div class="skills__img">
          <img loading="lazy" src="img/skills/jquery.svg" class="image skills__icon" width="161" height="37" alt="иконка JQuery">
        </div>
       <div class="skills__item-body">
          <h3 class="title title--fsz14 skills__item-title">Jquery</h3>
          <p class="skills__descr">Библиотека Jquery позволит ускорить разработку. Без необходимости интегрировать в проект мы её не будем, но навык работы с ней присутствует</p>
       </div>
      </li>
      <li class="skills__item">
        <div class="skills__img">
          <img loading="lazy" src="img/skills/react.svg" class="image skills__icon" width="71" height="64" alt="иконка React">
        </div>
       <div class="skills__item-body">
          <h3 class="title title--fsz14 skills__item-title">React</h3>
          <p class="skills__descr">Эта библиотека позволяет создавать web-приложения. Мы можем создать максимально интерактивный продукт именно под ваши цели</p>
       </div>
      </li>
      <li class="skills__item">
        <div class="skills__img">
          <img loading="lazy" src="img/skills/node-js.svg" class="image skills__icon" width="104" height="65" alt="иконка Node.js">
        </div>
       <div class="skills__item-body">
          <h3 class="title title--fsz14 skills__item-title">Node.js</h3>
          <p class="skills__descr">Эта платформа позволяет создавать бэкенд для вашего продукта - “мозги”, которые будут выполнять действия, которые пользователь не видит</p>
       </div>
      </li>
      <li class="skills__item">
        <div class="skills__img">
          <img loading="lazy" src="img/skills/mongo.svg" class="image skills__icon" width="160" height="45" alt="иконка Mongo.db">
        </div>
       <div class="skills__item-body">
          <h3 class="title title--fsz14 skills__item-title">Mongo.db</h3>
          <p class="skills__descr">Это нереляционная база данных, которая будет хранить данные вашего сайта или приложения</p>
       </div>
      </li>
    </ul>
    <ul class="rating list-reset">
      <li class="rating__item">
        <h3 class="title title--fsz14 rating__title">Создание сайтов</h3>
        <div class="rating__value">100%</div>
        <div class="rating__lines">
          <span class="rating__line"></span>
        </div>
      </li>
      <li class="rating__item">
        <h3 class="title title--fsz14 rating__title">Создание приложений</h3>
        <div class="rating__value">85%</div>
        <div class="rating__lines">
          <span class="rating__line"></span>
        </div>
      </li>
      <li class="rating__item">
        <h3 class="title title--fsz14 rating__title">Работа с данными</h3>
        <div class="rating__value">90%</div>
        <div class="rating__lines">
          <span class="rating__line"></span>
        </div>
      </li>
      <li class="rating__item">
        <h3 class="title title--fsz14 rating__title">Креативностьи</h3>
        <div class="rating__value">75%</div>
        <div class="rating__lines">
          <span class="rating__line"></span>
        </div>
      </li>
      <li class="rating__item">
        <h3 class="title title--fsz14 rating__title">Создание дизайна</h3>
        <div class="rating__value">90%</div>
        <div class="rating__lines">
          <span class="rating__line"></span>
        </div>
      </li>
      <li class="rating__item">
        <h3 class="title title--fsz14 rating__title">Soft skills</h3>
        <div class="rating__value">95%</div>
        <div class="rating__lines">
          <span class="rating__line"></span>
        </div>
      </li>
    </ul>
  </div>
</section>
