<section class="section works">
  <div class="container">
    <h2 class="title title--fsz16 title--before-circle">Портфолио</h2>
    <div class="subtitle works__subtitle">Мои работы</div>
    <div class="works__grid">
      <a href="#" class="works__link">
        <picture>
          <source srcset="img/works/uber.avif" type="image/avif">
          <source srcset="img/works/uber.webp" type="image/webp">
          <img loading="lazy" src="img/works/uber.jpg" class="image" width="280" height="280" alt="Сайт Uber">
        </picture>
      </a>
      <a href="#" class="works__link">
        <picture>
          <source srcset="img/works/pulse.avif" type="image/avif">
          <source srcset="img/works/pulse.webp" type="image/webp">
          <img loading="lazy" src="img/works/pulse.jpg" class="image" width="280" height="280" alt="Сайт Pulse">
        </picture>
      </a>
      <a href="#" class="works__link">
        <picture>
          <source srcset="img/works/bread.avif" type="image/avif">
          <source srcset="img/works/bread.webp" type="image/webp">
          <img loading="lazy" src="img/works/bread.jpg" class="image" width="280" height="280" alt="Сайт Bread">
        </picture>
      </a>
      <a href="#" class="works__link works__link--vertical">
        <picture>
          <source srcset="img/works/plans.avif" type="image/avif">
          <source srcset="img/works/plans.webp" type="image/webp">
          <img loading="lazy" src="img/works/plans.jpg" class="image" width="280" height="565" alt="Сайт Plans">
        </picture>
      </a>
      <a href="#" class="works__link">
        <picture>
          <source srcset="img/works/ipad.avif" type="image/avif">
          <source srcset="img/works/ipad.webp" type="image/webp">
          <img loading="lazy" src="img/works/ipad.jpg" class="image" width="280" height="280" alt="Сайт Ipad">
        </picture>
      </a>
      <a href="#" class="works__link works__link--horizontal">
        <picture>
          <source srcset="img/works/mac.avif" type="image/avif">
          <source srcset="img/works/mac.webp" type="image/webp">
          <img loading="lazy" src="img/works/mac.jpg" class="image" width="565" height="280" alt="Сайт Mac">
        </picture>
      </a>
    </div>
  </div>
</section>
