// container
$containerWidth: 1170px;
$containerPadding: 15px;

// font
$font-family: "Open Sans";
$font-size: 16px;
$line-height: 1.5;
$font-weight: 400;
$font-style: normal;

// colors
$bg: #f2f2f2;
$text: #020202;
$color-white: #fff;
