// container
$containerWidth: 1140px;
$containerPadding: 15px;

// font
$font-family: "Poppins", sans-serif;
$font-size: 12px;
$line-height: 1.5;
$font-weight: 500;
$font-style: normal;

// colors
$bg-color: #fff;
$text-color: #000;
$primary-color: #ffa501;
